@model ASPNet_Dukcapil_CRUD.Models.Dukcapil

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Dukcapil</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NIK)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NIK)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaidenName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaidenName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BrithDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BrithDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gender)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gender)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Religion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Religion.ReligionName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Marital)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Marital.MaritalDesc)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.DukcapilID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
